<style>
.container {
  position: relative;
  width: 100%;
}
</style>

<ion-view view-title="Tyres Section">
  <ion-content class="padding">
    <p>Tyres</p>
    <div class="row">
      <div class="col col-50">
        <div class="container" style>
          <img class="imageOne" ng-src="{{imgTyres1}}" src="truckimg/tyres/single.png">
          <img class="imageTwo" ng-click="takePictureTyres1()" src="truckimg/icon-camera.png">
        </div>
      </div>
      <div class="col col-50">
        <div class="container" style>
          <img class="imageOne" ng-src="{{imgTyres2}}" src="truckimg/tyres/single.png">
          <img class="imageTwo" ng-click="takePictureTyres2()" src="truckimg/icon-camera.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="caption col col-50">
        <p>Front Left</p>
      </div>
      <div class="caption col col-50">
        <p>Hydraulic Left</p>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <div class="container" style>
          <img class="imageOne" ng-src="{{imgTyres3}}" src="truckimg/tyres/double.png">
          <img class="imageTwo" ng-click="takePictureTyres3()" src="truckimg/icon-camera.png">
        </div>
      </div>
      <div class="col col-50">
        <div class="container" style>
          <img class="imageOne" ng-src="{{imgTyres4}}" src="truckimg/tyres/double.png">
          <img class="imageTwo" ng-click="takePictureTyres4()" src="truckimg/icon-camera.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="caption col col-50">
        <p>Rear axle (Power) Left</p>
      </div>
      <div class="caption col col-50">
        <p>Rear axle left</p>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <div class="container" style>
          <img class="imageOne" ng-src="{{imgTyres5}}" src="truckimg/tyres/spare.png">
          <img class="imageTwo" ng-click="takePictureTyres5()" src="truckimg/icon-camera.png">
        </div>
      </div>
      <div class="col col-50">
        <div class="container" style>
          <img class="imageOne" ng-src="{{imgTyres6}}" src="truckimg/tyres/double.png">
          <img class="imageTwo" ng-click="takePictureTyres6()" src="truckimg/icon-camera.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="caption col col-50">
        <p>Spare Tyre</p>
      </div>
      <div class="caption col col-50">
        <p>Rear Axle Right</p>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <div class="container" style>
          <img class="imageOne" ng-src="{{imgTyres7}}" src="truckimg/tyres/double.png">
          <img class="imageTwo" ng-click="takePictureTyres7()" src="truckimg/icon-camera.png">
        </div>
      </div>
      <div class="col col-50">
        <div class="container" style>
          <img class="imageOne" ng-src="{{imgTyres8}}" src="truckimg/tyres/single.png">
          <img class="imageTwo" ng-click="takePictureTyres8()" src="truckimg/icon-camera.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="caption col col-50">
        <p>Real Axle (Power) Right</p>
      </div>
      <div class="caption col col-50">
        <p>Hydraulic Right</p>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <div class="container" style>
          <img class="imageOne" ng-src="{{imgTyres9}}" src="truckimg/tyres/single.png">
          <img class="imageTwo" ng-click="takePictureTyres9()" src="truckimg/icon-camera.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="caption col col-50">
        <p>Front Right</p>
      </div>
    </div>
    </div>
    <button class="button button-positive upload-button" ng-click="uploadTyresPics()">Upload Pics</button>
  </ion-content>
</ion-view>
