<ion-view view-title="Truck Inspection Details">
  <ion-content class="padding">
    <form name="truckForm" novalidate="" ng-submit="truck()">
      <div class="list">
        <div class="errors" style="margin:10px; color:red">
          {{errors}}
        </div>
        <label class="item item-input item-select">
          <div class="input-label">
            Variant
          </div>
          <select name="variant" ng-model="data.variant">
            <option value="Tata 1512 TC">Tata 1512 TC</option>
            <option value="Tata 1612 TC">Tata 1612 TC</option>
            <option value="Tata 1612 Turbo">Tata 1612 Turbo</option>
            <option value="Tata 1613 TC">Tata 1613 TC</option>
            <option value="Tata 1613 Turbo">Tata 1613 Turbo</option>
            <option value="Tata 2515 TC">Tata 2515 TC</option>
            <option value="Tata 2515 Turbo">Tata 2515 Turbo</option>
            <option value="Tata LPT 2518 TC">Tata LPT 2518 TC</option>
            <option value="Tata 3118 TC">Tata 3118 TC</option>
            <option value="AL 1611">AL 1611</option>
            <option value="AL 1612">AL 1612</option>
            <option value="AL 1613">AL 1613</option>
            <option value="AL 1616">AL 1616</option>
            <option value="AL 2214">AL 2214</option>
            <option value="AL 2516">AL 2516</option>
            <option value="AL 3116">AL 3116</option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Chassis Number</span>
          <input type="text" id="ch_num" name="chassis_number" ng-model="data.chassis_number" placeholder="MAT46637292G09196">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Engine Number</span>
          <input type="text" id="en_num" name="engine_number" ng-model="data.engine_number" placeholder="90G62769142">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Truck Passing</span>
          <input type="text" id="tpass" name="truck_passing" ng-model="data.truck_passing" placeholder="DL 3C N">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Truck Number</span>
          <input type="text" id="truck_number" name="truck_number" ng-model="data.truck_number" placeholder="7132">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Part A and Part B Permit Date</span>
          <input type="date" id="permitDate" name="permit_date" ng-model="data.permit_date" placeholder="DD/MM/YY">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Date of Registration</span>
          <input type="date" id="regdate" name="date_of_registration" ng-model="data.date_of_registration" placeholder="DD/MM/YY">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Mfg. Month and Year</span>
          <input type="month" id="mfmn" name="manufacturing_month_and_year" ng-model="data.manufacturing_month_and_year">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Type
          </div>
          <select ng-model="data.bodytype" name="bodytype">
            <option value="Openbody - Full">Open Body - Full Body</option>
            <option value="Openbody - Half">Open Body - Half body</option>
            <option value="Container - Normal">Container - Normal</option>
            <option value="Container - Scooter">Container - Scooter body</option>
            <option value="Container - Vehicle">Container - Vehicle Carrier</option>
            <option value="Tanker">Tanker</option>
            <option value="Low Platform Trailer">Low Platform Trailer</option>
            <option value="Only Horse">Only horse</option>
            <option value="Articulated Vehicles (2+ axles)">Articulated Vehicles (2+ axles)</option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Insurance Valid Till</span>
          <input type="date" id="insurance" name="insurance_valid_till" ng-model="data.insurance_valid_till" placeholder="Insurance Valid till">
        </label>
        <label class="item-stacked-label">
          <ion-checkbox ng-model="data.no_claim_bonus">No claim bonus</ion-checkbox>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Insurance declared value</span>
          <input type="text" id="insdeclared" name="insurance_declared_value" ng-model="data.insurance_declared_value" placeholder="XXX">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Value Of Insurance Premium</span>
          <input type="text" id="insurancevalue" name="insurance_premium" ng-model="data.insurance_premium" placeholder="Value Of Insurance Premium">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">National Permit Valid Till</span>
          <input type="date" id="permittill" name="national_permit_valid_till" ng-model="data.national_permit_valid_till" placeholder="National Permit Valid Till">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Fitness Valid Till</span>
          <input type="date" id="fitness" name="fitness_valid_till" ng-model="data.fitness_valid_till" placeholder="Fitness">
        </label>
      </div>
      <div class="padding">
        <button class="button button-full button-positive" ng-click="truckSubmit()" type="submit"> Next </button>
      </div>
    </form>
  </ion-content>
</ion-view>
